---
import type { AnchorHTMLAttributes } from "react";

export interface Props extends AnchorHTMLAttributes<HTMLAnchorElement> {
  href: string;
  className?: string;
  title?: string;
  tabindex?: string;
}

const { href, className, ariaLabel, title, tabindex, rel, target, ...props } =
  Astro.props;
---

<a
  type="button"
  href={href}
  tabindex={tabindex}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  rel={rel}
  target={target}
  data-goatcounter-click={title}
><slot /></a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
